<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.ome.testcases.AddNewDeviceTest"/>
      <class name="com.ome.testcases.SadebarbtnTest"/>
      <class name="com.ome.testcases.DwonlSimpleFileTest"/>
      <class name="com.ome.testcases.Bulk_Uploadtest"/>
      <class name="com.ome.testcases.DropDWobnBtnTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
